.company-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.card-title {
  flex-grow: 1;
  padding: 0 20px;
  text-align: left;
}

.card-title h2 {
  margin: 0 0 10px 0;
}

.short-description {
  margin: 0;
}

.expand-arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.expand-arrow.expanded {
  transform: rotate(135deg);
}

.card-details {
  margin-top: 20px;
  text-align: left;
}

.long-description {
  margin-bottom: 20px;
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.website-link,
.pitch-video-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(200, 216, 91);
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

.website-link:hover,
.pitch-video-link:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.founders {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.founder {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: calc(50% - 10px);
}

.founder-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.founder-info {
  display: flex;
  flex-direction: column;
}

.founder-info p {
  margin: 0;
}

.founder-info a {
  margin-top: 2px;
}
